<!DOCTYPE html>
<html>
  <head>
    <title>Stripe</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'https://js.stripe.com/v3/', 'data-turbolinks-track': 'reload' %>
    <%= tag :meta, name: 'stripe-public-key', content: Rails.application.secrets.stripe_publishable_key %>

  </head>

  <body>
    <div class="container">

      <nav>
        <% if user_signed_in? %> 
          <%= link_to 'Sign Out', destroy_user_session_path, method: :delete %>
        <% end %>
      </nav>  

      <span class="notice"><%= notice %></p>
      <span class="alert"><%= alert %></p>

      <%= yield %>

    </div>

    
    
  </body>
</html>
